<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>help-my-interview</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.interview.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>ApplicantController</servlet-name>
    <servlet-class>com.interview.controller.LoginApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantController</servlet-name>
    <url-pattern>/LoginApplicantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ApplicantDetailServlet</display-name>
    <servlet-name>ApplicantDetailServlet</servlet-name>
    <servlet-class>com.interview.controller.ApplicantDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantDetailServlet</servlet-name>
    <url-pattern>/ApplicantDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CompanyDetailServlet</display-name>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <servlet-class>com.interview.controller.CompanyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <url-pattern>/CompanyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchJobServlet</display-name>
    <servlet-name>SearchJobServlet</servlet-name>
    <servlet-class>com.interview.controller.SearchJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJobServlet</servlet-name>
    <url-pattern>/SearchJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>com.interview.controller.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/ApplyServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>ShowApplicantServlet</display-name>
    <servlet-name>ShowApplicantServlet</servlet-name>
    <servlet-class>com.interview.controller.ShowApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApplicantServlet</servlet-name>
    <url-pattern>/ShowApplicantServlet</url-pattern>
  </servlet-mapping>
</web-app>